header {

color: white;
text-align: center;
}

.btn {
 margin-top: 20px;
    background-color: dodgerblue;
}

.five-day-forecast {
    display: flex;
    background-color: #1d2555;
    color: white;
    margin-top: 20px;
}

#bigCard {
    background: linear-gradient(rgb(10, 70, 138));
}